body {
	font-family: sans-serif;
}

.drop-box {
	background: none repeat scroll 0 0 #F8F8F8;
	border: 5px dashed #DDDDDD;
	height: 150px;
	line-height: 150px;
	width: 250px;
	text-align: center;
	vertical-align: middle;
}

.drop-box.dragover {
	border: 5px dashed blue;
}

.ng-cloak {
	visibility: hidden !important;
}

ul#uploads {
	padding: 0;
	list-style: none;
	font-size: 14px;
}

ul#uploads img {
	width: 40px;
	height: auto;
	vertical-align: middle;
	padding: 2px 10px 2px 10px;
}
